@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-size: 16px;
}
.markdown-body pre {
    background-color: #f3f4f6;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}

.markdown-body code {
    background-color: #f3f4f6;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-family: monospace;
}
.markdown-body pre code {
    background-color: transparent;
    padding: 0;
}
